  #Welcome-Gif
  {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    width: 498px;
    height: 256px;
    border: 5px solid rgb(0, 0, 95);
    font-size: 70px;
    background-image: url("../Misc/welcome.gif");
  }

  #first-text
  {
    font-family: cursive;
  }

  #Button-Holder
  {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  
  /*
  #button-Intro, #button-Basics, #button-Tags
  {

  }
  */